<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244619573810-obm1flue2of4haev4qcumcoehls45173.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244619573810-obm1flue2of4haev4qcumcoehls45173</string>
	<key>API_KEY</key>
	<string>AIzaSyBG6mXf5Mc7BpSJRCKp16QD3fuzCcfdxQw</string>
	<key>GCM_SENDER_ID</key>
	<string>244619573810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.larryallen.BasicFirestoreApp</string>
	<key>PROJECT_ID</key>
	<string>basicfirestoreapp</string>
	<key>STORAGE_BUCKET</key>
	<string>basicfirestoreapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244619573810:ios:785ae0247c815010d0da2b</string>
</dict>
</plist>